.add-hotel-container{
    background-color: rgb(212, 229, 240);
    
    
}
.hotel-container{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content:center;
}
.hotel-container-form{
    margin:auto;
    padding: 10px;
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
    gap: 20px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.hotel-container-form-field{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
}
.address-field{
    display: flex;
    
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.address-field div{
    display: flex;
    flex-direction: column;
}
.hotelfacilities{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.hotelfacilities div{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.hotel-container-form-field label{
    font-size: 20px;
    font-weight: 600;
}
.hotel-container-form-field input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
.address-field input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
    border: none;
    
}
.hotel-container-form-field textarea{
    width: 650px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}
.hotel-container-form-field button{
    width: 150px;
    height: 30px;
    background-color: brown;
    color: white;
    /* padding: 10px; */
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}
.details{
    display: flex;
    gap: 10px;
}
.hotel-container-form-field .hotelname{
    width: 100%
}
.hotel-container-form-field-images{
    width: 100%;
}
.images{
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
   
    
}
hr{
    border-color: rgb(0, 0, 0);
    width: 100%;
}
