.footer_container{
    position: relative;
    top: 357px;
    display: flex;
    background-color: rgb(152, 234, 234);
    width: 100%;

}
.first_footer_box{
    width: 25%;
    padding: 20px;
}
.first_footer_box p{
    font-size: 12px;
    padding: 20px;
    text-align: center;
}

.second_footer_box{
    width: 25%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
gap: 30px;
}
.second_footer_box_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.second_footer_box_links a{
    text-decoration: none;
    color: black;
    font-size: medium;
}
.third_footer_box{
    width: 25%;
    padding: 20px;
}
.third_footer_box_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forth_footer_box{
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


} 
.forth_footer_box_subscribe{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.forth_footer_box_subscribe input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}
.forth_footer_box_subscribe button{
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 10px;
    
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: brown;
    cursor: pointer;
}
.forth_footer_box_subscribe button:hover{
    border: 1px solid black;
    background-color: transparent;
    color: brown;
    font-weight: 600;
}


